language: cpp

compiler:
  - gcc
before_install:
  - sudo add-apt-repository -y ppa:ubuntu-sdk-team/ppa
  - sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
  - sudo apt-get update -qq
install:
  - sudo apt-get install -qq g++-4.8
  - sudo apt-get install -qq libcppunit-dev libcppunit-1.12-1
  - sudo apt-get install -qq qt5-qmake qtbase5-dev qtdeclarative5-dev libqt5webkit5-dev libsqlite3-dev
before_script:
  - export CXX="g++-4.8"
script:
  - ./build.sh
  - ./build/test/runTests
notifications:
  recipients:
    - hjlong1@gmail.com
  email:
    on_success: change
    on_failure: always