language: cpp

compiler:
  - gcc

install:
  - sudo apt-get update
  - sudo apt-get install libcppunit-dev libcppunit-1.12-1
  - ./build.sh
script:
  - ./build/runTests
notifications:
  recipients:
    - hjlong1@gmail.com
  email:
    on_success: change
    on_failure: always